<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937142243265-9ngv1j27uit0hjuqkd2bhh2o3g0acgse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937142243265-9ngv1j27uit0hjuqkd2bhh2o3g0acgse</string>
	<key>API_KEY</key>
	<string>AIzaSyBgLA8OcFwhMt90ybEaKJfdUlNC9nfLhuM</string>
	<key>GCM_SENDER_ID</key>
	<string>937142243265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdProject</string>
	<key>PROJECT_ID</key>
	<string>pd-app-c62e1</string>
	<key>STORAGE_BUCKET</key>
	<string>pd-app-c62e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937142243265:ios:ed1e79651d057e61592940</string>
</dict>
</plist>